<!-- <a id="nav-toggle" href="#"><span></span><span></span><span></span></a> -->
<section class="navigation">
  <a id="navicon" class="animated fadeInLeft closed menu-btn"></a>

  <div id="" class="nav pushy pushy-left">
    <ul>
      <li>
        <a class="top" href="#">
          <i class="fa fa-angle-up"></i>Top
        </a>
      </li>

      <li>
        <a class="introduction" href="#">
          <i class="fa fa-user"></i>Introduction
        </a>
      </li>

      <li>
        <a class="about" href="#">
          <i class="fa fa-code"></i>About
        </a>
      </li>
      
      <li>
        <a class="experience" href="#">
          <i class="fa fa-suitcase"></i>Experience
        </a>
      </li>

      <li>
        <a class="education" href="#">
          <i class="fa fa-graduation-cap"></i>Education
        </a>
      </li>

      <li>
        <a class="contact" href="#">
          <i class="fa fa-paper-plane"></i>Contact
        </a>
      </li>
    </ul>

    <div class="dash"></div>
<!--
    <ul>
      <li>
        <a href="{{ "blog" || prepend: site.root }}"><i class="fa fa-book"></i>Blog</a>
      </li>

      <li>
        <a href="{{ "blog/archives" || prepend: site.root }}"><i class="fa fa-archive"></i>Archives</a>
      </li>
    </ul> -->
  </div>
</section>

<div class="site-overlay"></div>
