<section id="about">
  <div class="container">

    <h1 class="tabloid">About</h1>

    <div class="row concealed visible animated fadeIn">
      <div class="column col-md-6">
        <div class="flaticon">
          <i class="fa fa-cloud"></i>
        </div>

        <h3>Web</h3>

        <p>
	  I've worked with many different platforms such as
          <span class="bold">Rails</span> and <span class="bold">AEM</span>.
	  Recently I've had the opportunity to work with <span class="bold">Angularjs</span>.
        </p>


      </div>

      <div class="column col-md-6">

        <div class="flaticon">
          <i class="fa fa-gamepad"></i>
        </div>

        <h3>Game</h1>

        <p>
          I keep up on the world of Game engines when I'm not working on web apps. I don't develop on them anymore, but I'm always curious to watch Unity grow. 
        </p>


      </div>
    </div>

    <div class="row">
      <div class="column col-md-6">
        <div class="flaticon">
          <i class="fa fa-circle-o-notch"></i>
        </div>

        <h3>Open source</h3>



        <p>I'm an advocate of open source ideas. Most of my knowledge was gained from open source projects and I hope to continue to contribute with the open source movement.</p>


      </div>

      <div class="column col-md-6">
        <div class="flaticon">
          <i class="fa fa-graduation-cap"></i>
        </div>

        <h3>Philosophy</h3>



        <p>
          I try and live in balance and follow the mantra Positive, Knowledgeable and Wise.
          <a href="http://en.wikipedia.org/wiki/Linus_Torvalds">Linus Torvalds</a> is one of my hero's and I strive to be more like him.
        </p>


      </div>
    </div>
  </div>
</section>
