<section id="education">
  <div class="container">

    <h1 class="tabloid">Education</h1>

    <div class="row">
      <div class="column col-md-6">

        <div class="flaticon">
          <img src="/images/humber64.png" alt="Scheridan Logo" \>
        </div> 

        <h3>Humber</h1>

        <h4>Game Programming</h4><p>Advanced Diploma with Honours</p>

        <p>
          Humber’s Game Programming diploma program is project-driven and focuses on the design and development 
          of games. I created applications that apply theories of usability, information architecture, network architecture and 
          industry standards of practice. <!--Upon graduation my skill set combines high levels of mathematics, physics and visualization within 
          the field of computer programming.-->
        </p>
      </div>

      <div class="column col-md-6">

        <div class="flaticon">
          <img src="/images/sheridan64.png" alt="Scheridan Logo" \>
        </div> 

        <h3>Sheridan</h3>

        <h4>Media Fundamentals</h4> 
        <p>Ontario College Cert. with Honours</p>

        <p>
          The Sheridan Media Fundamentals program offers foundation curriculum in digital media, 
          journalism and broadcasting. The focus of this program is to strengthen skills in Web and computer
          technology, Visual Design and Media history. 
        </p>

 
      </div>
    </div>
    </div>
  </div>
</section>
