<section id="experience">
  <div class="container">
    <h1>Experience</h1>

    <div class="left col-md-8">
      <h2 class="item">Web</h2>
      <div class="item item-1">
        <h3><a href="http://apple.com">Apple</a></h3>
        <p>
          It goes without saying that Apple is famous for it's secretive culture, and the project I worked on was no different. So keeping that in mind, I Develop internal productivity, and workflow applications for the software engineering department.
        </p>
      </div>


      <div class="item item-2">
        <h3><a href="http://springshot.com">Springshot</a></h3>
        <p>
Springshot is an workforce management solution providing next generation cloud technology to those in need. Built on Ruby on Rails, and Angularjs, I faced many challenges as a CSA. Here is where I learned to see the big picture, make many pieces of a large system work together, and provide great solutions.
        </p>

      </div>
      <div class="item item-3">
        <h3><a href="http://thestar.ca">thestar.ca</a></h3>
        <p>
		Built from ontop of a Adobe AudienceManager backend, The Star has both an AEM frontend,
		and a mobile Angular app. A model for other news platforms The Star strives to remain on top of its technological game.
        </p>

      </div>

      <div class="item item-4">
        <h3><a href="http://thestar.ca">MyStar</a></h3>
        <p>The Star's user specific toolset was the first Ruby application I laid my hands on. A step in the right direction, away from the high priest of a language known as Java.</p>
      </div>

      <div class="item item-5">
        <h3><a href="http://www.thegridto.com/">The GridTo</a></h3>
        <p>A monumental challenge from a server performance level. The GridTo is where I cut my teeth with Varnish, and the services offered by AWS.</p>
      </div>

    </div>

    <div class="right col-md-4">
      <h2>Languages</h2>
      <div class="bars">

  <div class="bar">
    <div class="framework">JavaScript</div>
    <div class="framework"> </div>
    <div class="framework">Ruby</div>
		<div class="framework">HTML</div>
		<div class="framework">PHP</div>
		<div class="framework">CSS3</div>
	</div>

        <div class="bar">


	</div>
  </div>
  <h2>Frameworks</h2>
  <div class="bars">
    <div class="bar">
      <div class="framework">React</div>
      <div class="framework">Redux</div>
      <div class="framework">Angular</div>
		  <div class="framework">Node.js</div>
		  <div class="framework">Rails</div>
      <div class="framework">Sinatra</div>
      <div class="framework">postgreSQL</div>
		  <div class="framework">mySQL</div>
	  </div>
  </div>
      <h2>Misc</h2>
      <div class="bars">
        <div class="bar">
		<div class="misc">Bash</div>
		<div class="misc">Docker</div>
		<div class="misc">Vagrant</div>
		<div class="language">Git</div>
		<div class="misc">Varnish</div>
		<div class="language">AWS</div>
	</div>
    </div>

    <div class="clearfix"></div>
  </div>
</section>
