<section id="experience">
  <div class="container">
    <h1>Experience</h1>

    <div class="left col-md-8">
      <h2 class="item">Web</h2>
      <div class="item item-1">
        <h3><a href="http://springshot.com">Springshot</a></h3>
        <p>
Springshot is an workforce management solution providing next generation cloud technology to those in need. Built on Ruby on Rails, and Angularjs I faced many challenges as a CSA. Here is where I learned to see the big picture, make many pieces of a large system work together, and provide great solutions.
        </p>

      </div>
      <div class="item item-2">
        <h3><a href="http://thestar.ca">thestar.ca</a></h3>
        <p>
		Built from ontop of a Adobe AudienceManager backend, The Star has both an AEM frontend, 
		and a mobile Angular app. A model for other news agency The Star strives to remain on top of its technological game.
        </p>

      </div>

      <div class="item item-3">
        <h3><a href="http://thestar.ca">MyStar</a></h3>
        <p>The Star's user specific toolset was the first ruby application I laid my hands on. A step in the right direction, away from the high priest of a language known as Java.</p>
      </div>

      <div class="item item-4">
        <h3><a href="http://www.thegridto.com/">The GridTo</a></h3>
        <p>A monumental challenge from a server performance level. The GridTo is where I cut my teeth with Varnish, and the services offered by AWS</p>
      </div>

      <h2 class="item">Game</h2>

      <div class="item item-5">
        <h3><a href="http://unity3d.com/">Unity</a></h3>
        <p>
        Using Unity 4.6 I have completed a mini game Zombie shooter. The game is built in Unity from tools provided by the Unite conference to promote the learning of Unity. The Assets are provided as well as instructions on how to use the features of Unity to tie it all together. I'm building on top of this game to help build my knowledge of the Unity Game Engine.
        </p>
      </div>

      <div class="item item-6">
        <h3><a href="#">Capstone</a></h3>
        <p>
Capstone was an action puzzle game I built by myself. You can check out a video of the gameplay 
<a href="https://www.youtube.com/watch?v=MKB_USeIwyE&list=UUIWNx9CSj3qYdtjRrzcOCgQ">here</a>
  The game was built from the ground up with every vertex constructed by hand. I also ran all the physics through my custom game engine. Levels were templated out though xml and read in to allow for quick and easy level construction. A really fun project that I am extremely proud of.
        </p>   
      </div>
    </div>

    <div class="right col-md-4">
      <h2>Languages</h2>
      <div class="bars">
        <div class="bar">
		<div class="language">Java</div>
		<div class="language">C++</div>
		<div class="language">C#</div>
	</div>
	<div class="bar">
		<div class="language">HTML5</div>
		<div class="language">PHP</div>
		<div class="language">CSS3</div>
	</div>
        <div class="bar">
		<div class="language">JavaScript</div>
	</div>
        <div class="bar">
		
		
	</div>
      </div>
      <h2>Frameworks</h2>
      <div class="bars">
        <div class="bar">
        	<div class="framework">Angular</div>	
		<div class="framework">Node.js</div>
		<div class="framework">Rails</div>
		<div class="framework">Cordova</div>	
		<div class="framework">AEM</div>
		<div class="framework">Unity</div>
		<div class="framework">OpenGL</div>
		<div class="language">mySQL</div>
		<div class="language">postgreSQL</div>
	</div>
      </div>
      <h2>Misc</h2>
      <div class="bars">
        <div class="bar">
		<div class="misc">Bash</div>
		<div class="misc">Ubuntu</div>
		<div class="misc">Vagrant</div>
		<div class="language">Git</div>
		<div class="misc">Varnish</div>
		<div class="language">AWS</div>
	</div>
    </div>

    <div class="clearfix"></div>
  </div>
</section>
