<section id="introduction">
  <div class="container">
    <div class="col-md-12 center">
      <img class="profile-pic" src="/images/me.jpg">

      <h1>Welcome</h1>

      <div class="dash animated fadeIn"></div>

      <p>
        I'm Peter Schoeffman a hard working Computer Systems Analyst.
        <br>Living in <a href="http://goo.gl/5XBWPG">San Francisco, California</a><br/>

      </p>

      <div class="dash animated fadeIn"></div>

      <!-- <p>
        Feel free to check out my -insert Blog link-
        <!-- <a href="{{ "blog" || prepend: site.root }}">blog</a>.
      </p> -->
    </div>
  </div>
</section>
