<section id="introduction">
  <div class="container">
    <div class="col-md-12 center">
      <img class="profile-pic" src="/images/me.jpg">

      <h1>Welcome</h1>

      <p>
        I'm Peter Schoeffman a hard working Computer Systems Analyst living in California's Bay Area.<br/>
        Previously I worked as a Full Stack developer in Toronto, Canada. I had the opportunity to work with some fantastic developers, but I don't miss the snow.
      </p>
      
      <!-- <p>
        Feel free to check out my -insert Blog link-
        <!-- <a href="{{ "blog" || prepend: site.root }}">blog</a>.
      </p> -->
    </div>
  </div>
</section>
