<section id="introduction">
  <div class="container">
    <div class="col-md-12 center">
      <img class="profile-pic" src="/images/me.jpg">

      <h1>Hello</h1>

      <div class="dash animated fadeIn"></div>

      <p>
        I'm a trained video game developer and a experienced web developer.
        <br>Living in <a href="http://goo.gl/5XBWPG">Toronto, Ontario</a><br/>
	 Program by day, seek truth and justice by night.
      </p>

      <div class="dash animated fadeIn"></div>

      <!-- <p>
        Feel free to check out my -insert Blog link-
        <!-- <a href="{{ "blog" || prepend: site.root }}">blog</a>.
      </p> -->
    </div>
  </div>
</section>
