<section id="top">
  <div class="small-nav nav">
    <ul>
      <li>
        <a class="top" href="#introduction">Top</a>
      </li>

      <li>
        <a class="introduction" href="#interests">Intro</a>
      </li>

      <li>
	<a class="about" href="#about">About</a>
      </li>
      
      <li>
        <a class="experience" href="#work">Experience</a>
      </li>

      <li>
        <a class="contact" href="#contact">Contact</a>
      </li>
    </ul>
  </div>

  <div class="brand">
    <h1 class="animated fadeInUp">Peter Schoeffman</h1>
    <h2 class="animated fadeInUp">developer</h2>
  </div>

  <div class="chevron animated fadeInUp">
    <div></div>
    <i class="flaticon-bottom4 down"></i>
  </div>
</section>
